
*{
  margin: 0;
  padding: 0;
  font-size: small!important;
}
body,html{
  font-family: 'Open Sans', sans-serif!important;
  font-weight: 300;
  font-size: small!important;
  color: #333!important;
}

/*
------------------------------------
------------------
FUENTES
------------------
------------------------------------
*/
@font-face {
  font-family: 'Framework7 Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Framework7Icons-Regular.eot");
  src: local('Framework7 Icons'),
     local('Framework7Icons-Regular'),
     url("../fonts/Framework7Icons-Regular.woff2") format("woff2"),
     url("../fonts/Framework7Icons-Regular.woff") format("woff"),
     url("../fonts/Framework7Icons-Regular.ttf") format("truetype"),
     url("../fonts/Framework7Icons-Regular.svg") format("svg");
}

.f7-icons, .framework7-icons {
  font-family: 'Framework7 Icons';
  font-weight: normal;
  font-style: normal;
  /*font-size: 25px;*/
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
}

.pageC{
    display: none;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    position: absolute;
    z-index: 9999;
}

.page{
  width: 100%;
  background: #eeeeee!important;
  color: #333!important;
  padding-top: 12%; 
}
/*
------------------------------------
------------------
MENU
------------------
------------------------------------
*/
img.logoApp{
  width: 45%;
  margin-bottom: 10%;
}

.panel{
  background: #eeeeee;
}
.panel-menu{
  text-align: center;
}

.list-block ul:before,
.list-block ul:after{
  background-color: transparent; 
}

.list-block .item-content{
  padding-left: 10px;
  /*font-size: smaller;*/
}

.list-block{
  width: 100%;
  margin: 0!important;
}
.list-block ul,
.list-block .item-inner:after{
  background-color: transparent!important;
}
.list-block li{
  margin-bottom: 2%!important;
  background-color: white!important;
  width: 100%;
  list-style: none!important;
}
.navbar:after,
.navbar, .subnavbar, .toolbar{
  background-color: transparent;
}
/*
------------------------------------
------------------
NAVBAR
------------------
------------------------------------
*/

.navbar .center{
  font-weight: bolder;
}

.navbar-inner{
  background: #018673!important;
  color: white!important;
}

.navbar-inner .f7-icons,
.navbar-inner .framework7-icons,
.navbar .sliding{
  color: white!important;
}

.navbar a.link,
.subnavbar a.link,
.toolbar a.link{
  width: 30px!important;
  text-align: center!important;
}
.f7-icons{
  font-size: large!important;
}
.back.link .f7-icons{
    margin: 0 auto!important;
}
/*
------------------------------------
------------------
PAGINA DE CONSULTA 
------------------
------------------------------------
*/
.consultaLogo{
  width: 20%;
  margin-bottom: 5%;
}
.buttons-row .button{
  border-radius: 0!important;
  height: 45px;
  line-height: 45px;
  padding: 0;
  margin: 0;
}
a.color-teal {
  background: #018673!important;
}

/*
------------------------------------
------------------
PAGINA DE SUCURSALES
------------------
------------------------------------
*/
#map{
  width:100%;
  height:35%;
  display: inline-flex;
}
#pageSucursales{
  width: 100%;
  height:65%;
  display: inline-flex;
  padding:0
}
#pageSucursales .list-block .item-content{
  background-color: white;
}
.accordion-item-content{
  background-color: #eeeeee;
}
.accordion-item-content,
.accordion-item-content .content-block li{
  width: 100%;
  background-color: #eeeeee;
}
.accordion-item-content,
.accordion-item-content .content-block li i{
  color: #018673!important;
  margin-right: 5px;
}
.accordion-item-content,
.accordion-item-content .content-block li b{
  color: #018673!important;
  font-weight: 500;
}
#pageSucursales .list-block li{
  background-color: #eeeeee!important;
}

.medicos-principal,
.item-media{
  display: inline-block!important;
}
#pageSucursales .list-block .accordion-item ul{
  padding-top: 5%;
  padding-bottom: 5%;
}
/*
------------------------------------
------------------
PAGINA DE TALENTO HUMANO
------------------
------------------------------------
*/
#talentohumano li.row{
  height: 120px;
  border-bottom: 1px solid #333;
}
#talentohumano li.list-block .item-inner:after,
#talentohumano .list-block .item-inner:after{
  background-color: transparent!important;
}
#personal_principal .list-block li{
  height: 100px;
}
#talentohumano ul li .item-inner.colaboradores{
  width: 50%;
  display: inline-block;
}

#talentohumano ul li .item-inner .item-subtitle{
  /*font-size: small;*/
  white-space: normal;
}
#talentohumano ul li .item-inner .item-title{
  /*font-size: x-small;*/
  white-space: normal;
}
#talentohumano ul li .item-media{
  width: 50%;
  display: inline-block;
}
#talentohumano ul li .item-inner.colaboradores{
  width: 100%!important;
}
#talentohumano ul li .item-inner.colaboradores .item-title{
  white-space: normal!important;
}

#imagenNoticia,
#thumbnail_imagenNoticia{
  width: 150px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #eeeeee;
  min-height: 100px;
  float: right;
  background-color: white;
}
#imagenNoticia{
  background-size: contain;
  background-size: 100%;
  background-position: center -10px;
}
#thumbnail_imagenNoticia{
  background-size: cover;
  margin: 2%;
}
#inside_imagenNoticia{
  background-size: cover;
  width: 100%;
  height: 250px;
  background-position: 0;
  
}


/*
==========================================================================================================================
NOTICIAS
==========================================================================================================================
*/

.media-list ul li a{
  width: 100%;
}
.item-media{
}

.item-media img{
  width: 100%;
  height: 100%;
}


#inside_imagenNoticia{
  background-size: cover;
  width: 100%;
  height: 250px;
  background-position: 0;
  
}
.item-subtitle{
  font-weight: bolder;
  text-transform: uppercase;
  /*font-size: small;*/
}

.list-block .item-subtitle{
      white-space: normal;
      text-overflow: clip;
      padding-top: 4%;
      /*font-size: x-small;*/
}

img.imgNoticia{
  display: block;/*
  margin: auto;*/
}

.colaboradores p.item-subtitle,
.medicos-principal p{
  padding: 0!important;
}
.colaboradores p.item-title{
  padding: 0!important;
  /*font-size: small;*/
  white-space: normal;
  text-overflow: clip;
}

#noticias .list-block{
  margin-top: 2%!important;
  margin-bottom: 2%!important;
  background-color: white;
}

.noticia .content-block-title{
  margin:0;
  margin-left: 4%;
}

.noticia .content-block-title h2{
  font-weight: bolder;
  white-space: normal!important;
}

h2.content-block-title{
  white-space: normal!important;
}


#fecha{
    text-transform: uppercase;
    /*font-size: xx-small;*/
    position: absolute;
    bottom: 10%;
}

h3.titularColaborador{
  
}
#noticias .content-block-inner{
  margin: 0!important;
  padding: 0!important;
  padding: 1% 3%!important;
  width: 95%;
  text-align: justify;
}
.content-block p{
  text-align: justify;
}


/*
==========================================================================================================================
COTIZADOR
==========================================================================================================================
*/
.search-letter{
  display: none;
}

.cargoLetra-a,
.cargoLetra-b,
.cargoLetra-c,
.cargoLetra-d,
.cargoLetra-e,
.cargoLetra-f,
.cargoLetra-g,
.cargoLetra-h,
.cargoLetra-i,
.cargoLetra-j,
.cargoLetra-k,
.cargoLetra-l,
.cargoLetra-m,
.cargoLetra-n,
.cargoLetra-o,
.cargoLetra-p,
.cargoLetra-q,
.cargoLetra-r,
.cargoLetra-s,
.cargoLetra-t,
.cargoLetra-u,
.cargoLetra-v,
.cargoLetra-w,
.cargoLetra-x,
.cargoLetra-y,
.cargoLetra-z{
  display: none;
}